# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish output
out/

# Rider
.idea/

# NuGet
*.nupkg

# ASP.NET Core
appsettings.Development.json

# Docker
docker-compose.override.yml
